{% extends 'bootstrap/base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block styles %}
	{{ super() }}
	<link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/img.css') }}">
{% endblock %}

{% block scripts %}
	<script type="text/javascript" src="{{ url_for('static', filename='js/dragndrop.table.columns.js') }}"></script>
	{{ super() }}
{% endblock %}

{% block navbar %}
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/index">Поиск аномалий в данных</a>
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="#">О проекте</a>
			</li>
		</ul>
	</nav>
{% endblock %}


{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-md-2 sidebar sidebar-left bg-light">
				<form class="form-inline center-block" method=post enctype=multipart/form-data>
					{{ upload_form.hidden_tag() }}

					<div class="input-group">
						<label class="btn btn-default input-group-addon">
							{{ upload_form.uploaded_file() }}
						</label>

						<label class="btn btn-default">
							{{ upload_form.submit() }}
						</label>
					</div>
				</form>
			</div>

			<div class="col-md-8 offset-md-2 main-content">
				{% block main_content %}{% endblock %}
			</div>

            <div class="offset-md-1">
				{% block main_content_graphs %}{% endblock %}
			</div>

			<div class="col-md-2 sidebar sidebar-right bg-light">
                <form method=post>
                    <h5>Обзор данных</h5>

					{{ dataoverview_form.hidden_tag() }}

					<label class="btn btn-default">
						{{ dataoverview_form.submit_dataoverview() }}
					</label>
				</form>

{#				<form class="form-inline center-block" method=post>#}
                <form method=post>
                    <h5>График по данным</h5>

					{{ simplegraph_form.hidden_tag() }}

					<div class="search-input with-dropdown">
						<div class="dropdown">
							{{ simplegraph_form.axis_x.label }}
							{{ simplegraph_form.axis_x(class="dropdown-content hide") }}
						</div>
					</div>

					<div class="search-input with-dropdown">
						<div class="dropdown">
							{{ simplegraph_form.axis_y.label }}
							{{ simplegraph_form.axis_y(class="dropdown-content hide") }}
						</div>
					</div>

					<label class="btn btn-default">
						{{ simplegraph_form.submit_graph() }}
					</label>
				</form>

{#                <form class="form-inline center-block" method=post>#}
                <form method=post>
                    <h5>Поиск аномалий</h5>

					{{ anomalies_form.hidden_tag() }}

                    <div class="search-input with-dropdown">
						<div class="dropdown">
							{{ anomalies_form.selected_algorithm.label }}
							{{ anomalies_form.selected_algorithm(class="dropdown-content hide col-md-10") }}
						</div>
					</div>

					<label class="btn btn-default">
						{{ anomalies_form.submit_anomalies() }}
					</label>
				</form>
			</div>

		</div>
	</div>
{% endblock %}
